<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="pc/layout/pc_layout :: base_header(~{::title},~{::link},~{::script},~{::meta})">
<title>テクニック検索No.1／テクノパッド</title>
<meta name="description" content="世界最大級のテクニック検索サイトです。自分で様々なテクニック・ハウツー・方法・やり方を検索・作成・公開することができます。">
<meta name="keywords" content="テクノパッド,Technopad,てくのぱっど,テクニック,ハウツー,方法,やり方">
</head>
<body>
<div th:replace="pc/layout/pc_header::header"></div>
<div class="content-wrap">
	<div th:replace="pc/layout/pc_navigation::navigation"></div>
	<div class="liquid" id="liquid">
		<div class="liquid-content">
			<div class="content-box">
				<div class="content-box-head">
					<h2>話題のテクニック</h2>
					<p class="right-btn-link"><a href="/topic/list" th:href="@{/topic/list}">一覧を見る</a></p>
				</div>
				<div class="content-box-detail-1">
					<div class="technique-box-1">
						<div class="technique-box-1-img">
							<a href=""><img src="/images/noimage_a@2x.jpg" th:src="@{/images/noimage_a@2x.jpg}" width="160" height="120"></a>
						</div>
						<div class="technique-box-1-content">
							<p class="title"><a href="">タイトル</a></p>
							<p class="username"><a href="">ユーザー名</a></p>
							<p class="other"><a href="">アクセス数 XXX 回・5週間前</a></p>
						</div>
					</div>
					<div class="technique-box-1">
						<div class="technique-box-1-img">
							<a href=""><img src="/images/noimage_a@2x.jpg" th:src="@{/images/noimage_a@2x.jpg}" width="160" height="120"></a>
						</div>
						<div class="technique-box-1-content">
							<p class="title"><a href="">タイトル</a></p>
							<p class="username"><a href="">ユーザー名</a></p>
							<p class="other"><a href="">アクセス数 XXX 回・5週間前</a></p>
						</div>
					</div>
					<div class="technique-box-1">
						<div class="technique-box-1-img">
							<a href=""><img src="/images/noimage_a@2x.jpg" th:src="@{/images/noimage_a@2x.jpg}" width="160" height="120"></a>
						</div>
						<div class="technique-box-1-content">
							<p class="title"><a href="">タイトル</a></p>
							<p class="username"><a href="">ユーザー名</a></p>
							<p class="other"><a href="">アクセス数 XXX 回・5週間前</a></p>
						</div>
					</div>
					<div class="technique-box-1">
						<div class="technique-box-1-img">
							<a href=""><img src="/images/noimage_a@2x.jpg" th:src="@{/images/noimage_a@2x.jpg}" width="160" height="120"></a>
						</div>
						<div class="technique-box-1-content">
							<p class="title"><a href="">タイトル</a></p>
							<p class="username"><a href="">ユーザー名</a></p>
							<p class="other"><a href="">アクセス数 XXX 回・5週間前</a></p>
						</div>
					</div>
					<div class="technique-box-1">
						<div class="technique-box-1-img">
							<a href=""><img src="/images/noimage_a@2x.jpg" th:src="@{/images/noimage_a@2x.jpg}" width="160" height="120"></a>
						</div>
						<div class="technique-box-1-content">
							<p class="title"><a href="">タイトル</a></p>
							<p class="username"><a href="">ユーザー名</a></p>
							<p class="other"><a href="">アクセス数 XXX 回・5週間前</a></p>
						</div>
					</div>
					<div class="technique-box-1">
						<div class="technique-box-1-img">
							<a href=""><img src="/images/noimage_a@2x.jpg" th:src="@{/images/noimage_a@2x.jpg}" width="160" height="120"></a>
						</div>
						<div class="technique-box-1-content">
							<p class="title"><a href="">タイトル</a></p>
							<p class="username"><a href="">ユーザー名</a></p>
							<p class="other"><a href="">アクセス数 XXX 回・5週間前</a></p>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="content-box">
				<div class="content-box-head">
					<h2>新しいテクニック</h2>
					<a class="right-btn-link" href="/topic/list" th:href="@{/topic/list}">一覧を見る</a>
				</div>
				<div class="content-box-detail-1">
					<div class="technique-box-1" th:each="technique : ${listNewTechnique}">
						<div class="technique-box-1-img">
						
							<th:block th:if="${executionEnv==1}">
								<a href=""><img th:if="${technique.topimgname != null && technique.topimglocation != null}" th:src="'http://' + ${technique.topimglocation} + ':8080/upDir/'+ ${technique.topimgname}" width="160" height="120"></a>
							</th:block>
							<th:block th:if="${executionEnv==2}">
								<a href=""><img th:if="${technique.topimgname != null && technique.topimglocation != null}" th:src="'https://' + ${technique.topimglocation} + '/upDir/'+ ${technique.user.id} + '/' + ${technique.topimgname}" width="160" height="120"></a>
							</th:block>
							<a href=""><img th:if="${technique.topimgname == null || technique.topimglocation == null}" src="/images/noimage_b@2x.jpg" th:src="@{/images/noimage_b@2x.jpg}" width="160" height="120"></a>
						
						</div>
						<div class="technique-box-1-content">
							<p class="title"><a href="" th:text="${technique.title}">タイトル</a></p>
							<p class="username"><a href="" th:text="${technique.user.username}">ユーザー名</a></p>
							<p class="other"><a href="">アクセス数 XXX 回・5週間前</a></p>
						</div>
					</div>
				</div>
			</div>
		</div>
 	</div>
</div>
</body>
</html>