<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="pc/layout/pc_layout::base_header(~{::title},~{::link},~{::script},~{::meta})">
<title th:text="${username}+'のカテゴリ編集'+ '／テクノパッド'">title</title>
<meta name="description" th:attr="content=${username}+のカテゴリ編集画面です。">
<meta name="keywords" content="テクノパッド,Technopad,てくのぱっど,テクニック,ハウツー,方法,やり方">
<link href="/css/pc/pc_user_common.css" th:href="@{/css/pc/pc_user_common.css}" rel="stylesheet">
<script src="/js/pc/pc_user_common.js" th:src="@{/js/pc/pc_user_common.js}"></script>
</head>
<body>
<div th:replace="pc/layout/pc_header::header"></div>
<div class="content-wrap">
	<div th:replace="pc/layout/pc_navigation::navigation"></div>
	<div class="liquid" id="liquid">
		<div class="liquid-content">
			<div th:replace="pc/layout/pc_userheader::userheader('カテゴリ')"></div>
			<div class="content-box">
				<div class="content-box-head">
					<p class="left-btn1"><a href="/user/category/list" th:href="@{/user/category/list}">&#8592;</a></p>
					<h1>カテゴリ編集</h1>
				</div>
				<div class="content-box-detail-2">
					<p>カテゴリを作成すると、テクニックをカテゴリにまとめることができます(最大20個)</p>
					<p class="ex">(例：「XXXXXのDIY教室」など)</p>
					<br>
					<form method="post" th:action="@{'/user/category/edit/'+${editCategory.id}}" th:object="${categoryForm}">
						
						<!--  
						<p class="label">カテゴリイメージ</p>
						<div class="category-image-area">
							<label id="category-label">
								<img id="category-image" src="/images/noimage_d@2x.jpg" th:src="@{/images/noimage_d@2x.jpg}" width="80" height="80">
								<input id="category-file" type="file" name="category-file" accept="image/*" style="display:none;">
							</label>
							<div>
								<p id="category-filename">選択されていません</p>
								<p id="category-file-del"><span>削除</span></p>
							</div>
							<span th:if="${#fields.hasErrors('img')}" th:errors="*{img}">error</span>
						</div>
						-->
						
						<p class="label">カテゴリ名</p>
						<input type="text" name="name" th:field="*{name}" placeholder="30文字まで">
						<span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validate">error</span>
						<span th:if="${#fields.hasErrors('err')}" th:errors="*{err}" class="validate">error</span>
						<br>
						<br>
						<br>
						<br>
						<p><input type="submit" value="カテゴリ編集"></p>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>