@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
html, body{
	height:100%;
	font-size: 15px;
}
img{
	display: block;
}

body{
	font-family: Roboto, Arial, sans-serif;
	background-color: #fafafa;
}
a{
	color:#333;
	text-decoration: none;
}
ul{
	list-style-type: none;
}

input[type="text"]{
	display:block;
	font-size:1.1rem;
	padding: 4px 6px;
}

input[type="submit"],
.content-box-head .see-list{
	display:block;
	background:#f2f2f2;
	border: 1px solid #f2f2f2;
	color:#666;
	font-size: 0.75rem;
	font-weight: bold;
	padding: 2px 10px;
	text-align: center;
}
input[type="submit"]{
	line-height: 27px;
	height: 36px;
	font-size: 0.9rem;
}
.validate{
	font-size:0.8rem;
	color:red;
}

/* header */

header{
	width:100%;
	background-color:#fff;
	position:fixed;
	top:0;
	left:0;
}
header .header-upper{
	padding:0 10px;
	display: flex;
	display: -webkit-flex;
    -webkit-flex-wrap:nowrap;
    -moz-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    align-items: center;
    -webkit-align-items: center;
}
header .header-upper .header-logo a{
	display: block;
	width:100px;
	height:50px;
	margin:0;
	background: transparent url('../../../images/logo@2x.png') no-repeat center center;
	background-size: 100px 50px;
}
header .header-upper .btn-search,
header .header-upper .btn-register,
header .header-upper .btn-login,
header .header-upper .btn-mypage,
header .header-upper .btn-menu{
	display:block;
	margin:4px 0;
	width:40PX;
	height:40PX;
	border:solid 1px #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	-ms-border-radius: 2px;
	position :relative;
}
header .header-upper .btn-search{
	background: transparent url('../../images/icon_search@2x.png') no-repeat center 35%;
	background-size:1.1rem;
	margin-left:auto;
	margin-right:5px;
}
header .header-upper .btn-register{
	background: transparent url('../../images/icon_register@2x.png') no-repeat center 35%;
	background-size:1.1rem;
	margin-right:5px;
}
header .header-upper .btn-login{
	background: transparent url('../../images/icon_login@2x.png') no-repeat center 35%;
	background-size:1.1rem;
	margin-right:5px;
}
header .header-upper .btn-mypage{
	background: transparent url('../../images/icon_mypage@2x.png') no-repeat center 35%;
	background-size:1.1rem;
	margin-right:5px;
}
header .header-upper .btn-menu{
	background: transparent url('../../images/icon_menu@2x.png') no-repeat center 35%;
	background-size:1.1rem;
	margin-right:0;
}
header .header-upper .btn-search p,
header .header-upper .btn-register span,
header .header-upper .btn-login span,
header .header-upper .btn-menu p{
	display:block;
	width:100%;
	text-decoration:none;
	text-align:center;
	position :absolute;
	bottom:0;
	left: 0;
	font-size:0.6rem;
}
header .header-upper .btn-mypage span{
	display:block;
	width:100%;
	text-decoration:none;
	text-align:center;
	position :absolute;
	bottom:2px;
	left: 0;
	font-size:0.6rem;
}
header .header-search {
	display: none;
}
header .header-search .header-search-content{
	height:48px;
	background-color: #fff;
	border-top:solid 1px #eee;
	border-bottom:solid 1px #eee;
	padding:0 10px;
	display: flex;
	display: -webkit-flex;
    -webkit-flex-wrap:nowrap;
    -moz-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    align-items: center;
    -webkit-align-items: center;
}
header .header-search input[type="text"]{
	display:block;
	width:calc(100%-78px);
	width : -webkit-calc(100% - 78px);
	border:solid 1px #ccc;
	margin:0;
	font-size:1.1rem;
	padding: 3px 8px;
	height:34px;
}
header .header-search input[type="submit"]{
	background: transparent url('../../images/icon_search@2x.png') no-repeat center center;
	background-size:0.9rem;
	background-color:#eee;
	display:block;
	width:60px;
	height:42px;
	margin:0;
	padding:0;
	border:solid 1px #ccc;
	border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	-webkit-border-radius: 0 2px 2px 0;
	-o-border-radius: 0 2px 2px 0;
	-ms-border-radius: 0 2px 2px 0;	
}

/* nav */

.navigation{
	display:none;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top:50px;
	left:0;
	width:100%;
	height:100%;
	z-index: 999;
}
.navigation nav {
	padding:4% 2%;
	background:#fff;
	position: absolute;
 	top: 5%;
	left: 10%;
	margin: auto;
	width: 76%;
}
.navigation nav ul li a,
.navigation nav ul li p{
	text-decoration:none;
	display: block;
	padding:12px 10px 12px 60px;
	font-size:1rem;
	font-weight:normal;
	line-height: 1rem;
}
.navigation nav li:nth-child(1) a{
	background: transparent url('../../images/icon_home@2x.png') no-repeat 20px center;
	background-size:20px;
}
.navigation nav li:nth-child(2) a{
	background: transparent url('../../images/icon_topic@2x.png') no-repeat 20px center;
	background-size:20px;
}
.navigation nav li:nth-child(3) a{
	background: transparent url('../../images/icon_new@2x.png') no-repeat 20px center;
	background-size:20px;
}
.navigation nav li a.email_registration{
	background: transparent url('../../images/icon_register@2x.png') no-repeat 20px center;
	background-size:20px;
}
.navigation nav li a.login{
	background: transparent url('../../images/icon_login@2x.png') no-repeat 20px center;
	background-size:20px;
}
.navigation nav li a.username{
	background: transparent url('../../images/icon_mypage@2x.png') no-repeat 20px center;
	background-size:20px;
}
.navigation nav li .logout{
	background: transparent url('../../images/icon_logout@2x.png') no-repeat 20px center;
	background-size:20px;
	
	width:100%;
	display:block;
	padding:12px 10px 12px 60px;
	margin:0;
	border:none;
	font-size:1rem;
	font-weight:normal;
	line-height: 1rem;
	text-align: left;
	
	color:#333;
}
.navigation nav .sub-menu p{
	padding:3px 15px;
}

.search-cover{
	display:none;
	background: rgba(0,0,0,0.7);
	position: fixed;
	top:100px;
	left:0;
	width:100%;
	height:100%;
	z-index: 999;
}


/* content */

.content-wrap{
	padding-top:53px;
}
.content-box{
	background-color: #fff;
}
.content-box .content-box-head{
	display: flex;
	display: -webkit-flex;
	
    -webkit-flex-wrap:nowrap;
    -moz-flex-wrap:nowrap;
    -ms-flex-wrap:nowrap;
    flex-wrap:nowrap;
    
	-webkit-align-items: center;
    align-items: center;
    
    border-bottom:solid 1px #eee;
	padding:5px 10px;
}
.content-box .content-box-head h2{
	width:150px;
}
.content-box .content-box-head .see-list{
	width:70px;
	margin-left: auto;
}
.content-box .content-box-detail-1{
	display: flex;
	display: -webkit-flex;
	
	flex-wrap:wrap;
    -webkit-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
		
	padding:0px;
}
.content-box .content-box-detail-1 .technique-box-1{
	width:calc(100%-10px);
	width : -webkit-calc(100% - 10px);
	
	padding:5px;
	border-bottom:solid 1px #eee;
}

.content-box .content-box-detail-1 .technique-box-1-img img{
	display:block;
	width:100%
}
.content-box .content-box-detail-1 .technique-box-1-content{
	
}
.content-box .content-box-detail-1 .technique-box-1 .technique-box-1-content .title a{
	font-size:0.9rem;
}
.content-box .content-box-detail-1 .technique-box-1 .technique-box-1-content .username a{
	font-size:0.8rem;
}
.content-box .content-box-detail-1 .technique-box-1 .technique-box-1-content .other a{
	font-size:0.8rem;
	color:gray;
}
.content-box .content-box-detail-1 .technique-box-2{
	width:calc(50%-10px);
	width : -webkit-calc(50% - 10px);
	
	padding:5px;
	border-bottom:solid 1px #eee;
}
.content-box .content-box-detail-1 .technique-box-2-img img{
	display:block;
	width:100%
}

.content-box .content-box-detail-1 .technique-box-2 .technique-box-2-content .title a{
	font-size:0.9rem;
}
.content-box .content-box-detail-1 .technique-box-2 .technique-box-2-content .username a{
	font-size:0.8rem;
}
.content-box .content-box-detail-1 .technique-box-2 .technique-box-2-content .other a{
	font-size:0.8rem;
	color:gray;
}

.content-box-detail-2{
	padding:20px;
}
.content-box-detail-2 a{
	color:blue;
}
.content-box-detail-2 input[type="text"],
.content-box-detail-2 input[type="password"]{
	display:block;
	border:solid 1px #eee;
	font-size:1.15rem;
	padding: 5px 8px;
	
	/* 右にはみ出るのを防ぐ設定 */
	width:100%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.content-box-detail-2 input[type="submit"]{
	margin:30px auto;
}























