<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="sp/layout/sp_layout :: base_header(~{::title},~{::link},~{::script},~{::meta})">
<title>ユーザー仮登録完了／テクノパッド</title>
<link href="/css/sp/sp_identity.css" th:href="@{/css/sp/sp_identity.css}" rel="stylesheet">
<meta name="description" content="世界最大級のテクニック検索サイトです。自分で様々なテクニック・ハウツー・方法・やり方を検索・作成・公開することができます。">
<meta name="keywords" content="テクノパッド,Technopad,てくのぱっど,テクニック,ハウツー,方法,やり方">
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
window.addEventListener('DOMContentLoaded', function() {
	var returncode = /*[[${returncode}]]*/;
	if(returncode != 1){
		location.href="/"; // TOPリダイレクト
	}
})
/*]]>*/
</script>
</head>
<body>
<div th:replace="sp/layout/sp_header::header"></div>
<div id="search-cover" class="search-cover" onclick="clickSearchBtn();"></div>
<div th:replace="sp/layout/sp_navigation::navigation"></div>
<div id="content-wrap" class="content-wrap">
	<div class="content-box">
		<div class="content-box-head">
			<h1>ユーザー仮登録完了(メールアドレス登録完了)</h1>
		</div>
		<div class="content-box-detail-2">
			<p><span style="font-weight:bold;" th:text="${mailaddress}"></span>にメールを送信しました。</p>
			<br>
			<p>メールに書かれている本登録用のURLにアクセスし、1時間以内に本登録を完了してください。</p>
		</div>
	</div>
</div>
</body>
</html>